<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <h1 class="text-center">Hi There!</h1>
    <img class="image-responsive image-center" src="https://cdn-icons-png.flaticon.com/128/12211/12211204.png">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-sm-*">
                <a href="/sign_up">
                    <button class="btn btn-primary btn-block">Sign Up</button>
                </a>
            </div>
            <div class="col-lg-6 col-sm-*">
                <a href="/sign_in">
                    <button class="btn btn-danger btn-block">Sign In</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>